
@{
    ViewData["Title"] = "Get Token";
}
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.close();
        });
    </script>

    <body>
        <script type="text/javascript">
            debugger;
            window.close();
        </script>
    </body>
</body>

